@import '@styles/variable.module.scss';
@import '@styles/mixin.module.scss';

.container{
  
    background-color: $primary_color;
    margin-top: -75px;
    padding: 20px 50px;
    display: flex;
    @include flex_box_custom(space-between, center, 0px)

}

.containerCard{
    @include flex_box_custom(center, center, 18px);

    height: 104px;
    width: 280px;
}

.containerContent{
    @include flex_box_custom(center, flex-start, 13px);
    flex-direction: column;
    color: $white_color;
    .title{
        font-size: 17px;
        font-weight: 300;
    }
    .des {
        font-style: 16px;
        color: #FFFFFFFC;
    }
} 

